.addedtask{
    background-color: aqua;
    color: black;
    border: 3px solid black;
    border-radius: 30px;
    margin: 20px;
    display: flex;
    align-items: center;
    
    
}
li{
    font-size: 50px;
}